body {
    background-color: #FFFDF5;
}

.banch {
    width: 100%;
    height: auto;
    margin: 0px;
}

article div {
/*    border-style: solid;
    border-width: thin;
    border-color: black;*/
    margin: 5px 1.5%;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    width: 350px;
}

div .banch {
    display: flex;
    margin: 0px 0px 10px 0px;
    flex-direction: row;
    align-items: center;
    flex-flow: row;
    justify-content: right;
}

#banch2, #banch3 {
    width: 90%;
}


#banch1, #banch4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#banch1, #banch2, #banch3 {
    border-bottom-style: solid;
    border-color: lightgray;
    border-bottom-width: 1px;
}

    #banch3 h, h2 {
        color: #6ec1e4;
    }


.responsive {
    width: 350px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 525px;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 1050px;

    }
}
